* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slider {
  display: flex;
  align-items: center;
  padding: 0 100px;
}

.slider_body {
  width: 50%;
  overflow: hidden;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(6, 100%);
}
.slider_item {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.slider_item img {
  width: 100%;
  height: 100%;
  transition: 0.5s ;
}
.counter {
  padding: 20px 100px;
}
.length {
  font-size: large;
}

button {
  z-index: 0;
}
